<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.john.mimicvideo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name=" android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.shou.john.mimicvideo.utils.ApplicationService"
        android:allowBackup="true"
        android:icon="@mipmap/crazy_talk_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.shou.john.mimicvideo.LogoActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.shou.john.mimicvideo.SearchActivity" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider421357021657393"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.shou.john.mimicvideo.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shou.john.mimicvideo.CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shou.john.mimicvideo.SameVideoContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shou.john.mimicvideo.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shou.john.mimicvideo.BaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.shou.john.mimicvideo.VideoSampleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shou.john.mimicvideo.ShowVideoContentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shou.john.mimicvideo.ShareActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shou.john.mimicvideo.VideoContentTitleActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shou.john.mimicvideo.EditVideoContentActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shou.john.mimicvideo.OtherProfileActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shou.john.mimicvideo.VideoPreviewActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shou.john.mimicvideo.LoadingActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shou.john.mimicvideo.ContinueCameraActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.shou.john.mimicvideo.MainActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
